* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/*v select*/
body {  /*v poprati        v value    */
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ffce8841;
    line-height: 1.5;
}


footer,
.tip-box{
    border: 3px ridge #ec9017;
    background-color: #f7e3e3;
    margin: 20px;
    padding: 20px;
}

.brand-icon img {
    width: 70px;
    height: 70px;
    margin-right: 15px;
    border-radius: 100%;
    background-color: #00000073;
    border: 7px ridge #8f4012;
}

.brand-text p{
    font-size: 14px;
}

nav a {
    color: #ffffff;
    text-decoration: none;
    list-style-type: none;

    margin-left: 20px;
}
nav a:hover {
    color: #500092;
    text-decoration: underline;
}

.container{
    /* max-width: 1800px; */
    width: 90%;
    margin: 0 auto;
    padding: 40px;
    /* background-color: #ff9900; */
}

header {
    background: linear-gradient(to right, #e45f07,#f1b100);
    color: #ffffff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.brand {
    display: flex;
    align-items: center;
}

.hero {
    width: 90%;
    margin: 0px auto;
    padding: 20px;
    display: flex;
    align-items: center;

}

.hero-icon {
    color: #ffffff;
    background-color: #fc8f01;
    border-radius: 15%;
    box-shadow:  0px 4px 15px rgba(252, 182, 32, 0.712);

    width: 90px;
    height: 90px;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

    font-size: 50px;
    margin: 20px;
}

.hero-text h1{
    font-size: 40px;
    color:#8f4012

}

.hero-text p{
    font-size: 20px;
    color:#8f4012

}

.card-grid {
    display: grid;

    grid-template-columns:repeat(3, 1fr);
    /* grid-template-columns: 1fr 1fr 1fr; */
    /* background-color: #ffb121; */
    gap: 20px;
}

.card{
    background-color: #f7f1f1;

    border: 1px solid #ec9017;
    border-radius: 16px;
    box-shadow: 0px 4px 15px rgb(255, 212, 120);
    overflow: hidden;

    /* padding: 20px; */
}

.card-header {
    background-color: #ffe8ab;

    color: #6d2d08;
    font-weight: bold;
    font-size: 20px;

    padding: 20px;
    border-bottom: 1px solid #ec9017;
}

.card-header-icon{
    background-color: #6d2d08;
    color: #ffffff;
    padding: 10px ;
    margin-right: 10px;
    width: 50px;
    height: 50px;
    display: inline-flex;
    justify-content: center;
    align-items: center;

    border-radius: 50%;
}
.purple-bg{
    background-color: #800080;
}
.purple-text{
    color: #800080;
}

.card-body{
    padding: 20px;

}

.format-row{
    display: grid;
    grid-template-columns:100px 1fr;
    margin-bottom: 0px;
    gap: 20px;
    padding: 10px 0px;
    border-bottom: 1px solid #00000028;
}

.label{
    text-align: center;
    /* padding: 5px 50px; */
    color: #ffffff;
    font-weight: bold;
    border-radius: 5px;
}

.b-label{background-color: #ff080088;}
.strong-label{background-color: #ffb3007e;}
.i-label{background-color: #ffee0081;}
.em-label{background-color: #73ff0080;}
.u-label{background-color: #09c2a380;}
.mark-label{background-color: #094ac27e;}
.small-label{background-color: #2b09c283;}
.del-label{background-color: #7809c283;}
.sup-label{background-color: #c209c280;}
.sub-label{background-color: #c2096580;}


 /* c.2 */
.pre-box{
    background-color: #080808;
    border-radius: 16px;
    color:#fdfdfd;
    padding: 20px;
}
.html-tag{
    color: #ff9900;
}
.line-no{
    display: inline-block;
    width: 20px;
    color: #87f30c;
    font-weight: bold;
}
/* c.3 */

.activity-list{list-style-type: none;}

.activity-list li{
    margin-bottom: 20px;
}

.check{
    background-color: #09c2a380;
    color: #ffffff;
    font-weight: bold;
    font-size: 20px;

    /* padding:10px; */
    border-radius:50%;

    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 30px;
}
.check-blue{background-color: #00a2ff80;}
.check-green{background-color: #09c2a380;}
.check-yellow{background-color: #859402;}
.check-red{background-color: #ff000080;}
.check-purple{background-color: #80008080;}
.check-strong{
    color: #0004fd;
    font-weight: bold;
}
.check-strong:hover{
    color: #ff0000;
    font-weight: bold;
}
.check-box{
    background-color: #9488ff8e;
    border-radius: 5px;
    padding: 5px 10px;
}














.tip-box {
    background-color: #f8ecec;
    border-radius: 15px;
    box-shadow: 0px 8px 10px  rgba(255, 94, 0, 0.322);
    margin-bottom: 20px;
    padding: 20px;
    color: #6d2d08;
    border: 1px solid #721700;

    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
}
.tip-box h2 {
    font-size: 24px;
    margin-bottom: 10px;
}
.tip-box p {
    font-size: 16px;
    line-height: 1.5;
}
.tip-box span {
    font-weight: bold;
    color: #0004ff;
}
.tip-box-icon {
    font-size: 40px;
    color: #6d2d08;
    background-color: #ffb3007e;
    border-radius: 50%;
    width: 60px;
    height: 60px;

    display: flex;
    /* justify-content: center;
    align-items: center; */
}