* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Anuphan, Arial, Helvetica, sans-serif;
  background-color: rgba(253, 180, 77, 0.336);

  color: rgb(48, 7, 90);
  line-height: 1.6;
}

.container {
  /* border: 1px solid rgb(61, 81, 255);
  padding: 15px;
  margin: 15px; */
}

/* =================================
||||      header-sectiom        |||||
====================================*/
.site-header {
  /* border: 1px solid red;
  padding: 15px;
  margin: 15px; */

  display: flex;
  justify-content: space-between;

  background: linear-gradient(110deg, rgba(255, 128, 0, 0.637));

  padding: 8px 20px;
}
.brand {
  /* border: 1px solid rgb(0, 255, 64);
  padding: 15px;
  margin: 15px; */
  display: flex;
  align-items: center;
  gap: 20px;

  color: rgb(0, 2, 2);
}
.brand-logo {
  background: #ff1313;
  font-size: 30px;

  border-radius: 50%;

  width: 50px;
  height: 50px;

  display: flex;
  justify-content: center;
  align-items: center;
}
.brand-text p {
  font-size: 14px;
  opacity: 0.7;
}
.brand-text h2 {
  font-size: 23px;
}

.main-nav {
  /* border: 1px solid rgb(0, 255, 55);
  padding: 15px;
  margin: 15px; */
  display: flex;
}

.nav-list {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.nav-list a {
  color: aliceblue;
  text-decoration: none;

  padding: 8px 15px;
  border-radius: 15px;

  transition: 0.4s;
}
.nav-list a:hover {
  background-color: rgba(126, 0, 48, 0.712);
}

/* =================================
||||      header-sectiom      |||||
====================================*/
.main-layout {
  /* border: 1px solid red;
  padding: 15px;
  margin: 15px; */
  padding: 20px 22px;

  display: grid;
  grid-template-columns: 66.7% 33.3%;
  /* grid-template-columns:1fr 400px; */
}
/* left content */
.left-content {
  /* border: 1px solid rgb(0, 255, 85);
  padding: 15px;
  margin: 15px; */
}
.hero {
  /* border: 1px solid rgb(40, 43, 10);
  padding: 15px;
  margin: 15px; */
  display: grid;
  grid-template-columns: 1.5fr 0.8fr;

  border-radius: 20px;
  padding: 50px 40px;
  background: linear-gradient(90deg,#fc9e47, #fff7ec);
  box-shadow: 0 0px 10px rgba(129, 73, 0, 0.726);

  align-items: center;
}
.hero-text h1 {
  font-size: 36px;
  color: #640292;
  line-height: 1.6;
}
.hero-text p {
  font-size: 16px;
  color: #33004b;
}

.hero-photo img {
  width: 400px;
  height: 200px;
  border: 5px ridge rgb(175, 0, 0);
  border-radius: 20px;

  box-shadow: 0 0px 10px rgba(129, 73, 0, 0.726);

  object-fit: cover;
  /*
  object-fit: contain ➡️เห็นภาพครบ รักษาสัดส่วน (อาจมีขอบว่าง)
  object-fit: fill ➡️ยืดภาพให้เต็มกล่อง ภาพอาจบิด (สัดส่วนเพี้ยน)
  object-fit: cover ➡️ครอปภาพให้เต็มกล่อง รักษาสัดส่วน บางส่วนของภาพจะถูกตัดออก
  */
}
/* =================linkexample=================== */
.card {
  border: 1px solid #ff7b00;
  background-color: #fff7ec;
  margin-top: 30px;
  border-radius: 20px;
  padding: 20px;
  box-shadow: 0 0px 10px rgba(129, 73, 0, 0.726);
}

.card-header-title{
  color: #640292;
}



.card-body-grid{
  display: grid;
  grid-template-columns: 0.75fr 1.25fr;
  gap: 22px;
}


/* link left */
.result-panel,.code-panel{
  /* background-color: #ffbe7efb; */
  border: 1px solid #fc9e47;
  border-radius: 10px;
  overflow: hidden;
}

.result-panel-header, .code-panel-header{
  background-color:#fc9e47;
  color: #640292;
  padding: 0px 20px;
  font-weight: bold;
}

.result-panel-body{
  padding: 10px 20px 15px 20px;
  

}
.result-panel-body a{
  color: #332b1c;
  display: block;
  line-height: 2;

}
.result-panel-body a:hover{
  color: #640292;
}

.mail-box{
  background-color: #8a0cc5;
  color: #fff;
  padding: 2px 2px;
  border-radius: 4px;
  margin-right: 10px ;
  text-decoration: none ;
}


.back-button{
  border: 2px solid #332b1c;
  border-radius: 10px;
  display: inline-block !important;
  padding: 0px 20px;
  text-decoration: none;
}
/* link right */
.code-panel{
  background-color: black;
  
}
.code-list{
  color: #fff;
  padding: 20px 50px;
}
.code-list li{
  padding: 0 20px;
}
.code-panel-body{
  color: #fff;
}
.tag{
  color: #ff4800;
}

.attr{
  color: #fffb00;
}

.value{
  color: #24660a;
}
/* =================linkexample=================== */
.result-panel-body-3grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
  padding: 0px 20px;
  align-items: baseline;
  text-align: center;
  font-weight: bold;
}



/* right content */
.right-content {
  /* border: 1px solid rgb(0, 255, 0);
  padding: 15px;
  margin: 15px;
  display: flex;
  flex-direction: column;
  gap: 22px; */
}
/* card-submit */
.card-submit {
  border: 1px solid #ff7b00;
  background-color: #fff7ec;
  margin-left: 20px;
  margin-bottom: 20px;
  border-radius: 20px;
  padding: 20px;
  box-shadow: 0 0px 10px rgba(129, 73, 0, 0.726);
  
}

.card-body-submit {
  line-height: 1.5 ;
}
.activity-list {
  list-style-type: none;
  line-height: 3;
}
.list-number {
  color: #f6f8fc;
  font-weight: bold;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: #640292;
}
/* =================================================================== */
/* card-submit 2 */
.card-body-grid-2{
  text-align: center;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 22px;
  padding: 0px 0px;
}

.card-body-grid-2 span{
  border-radius: 200px;
  padding: 10px 0px;
  font-weight: bold;
}

.tag-blue{color: #0c0cf5;}
.tag-light-blue{olor: #088686;}
.tag-green{color: #006600;}
.tag-orange{color: #634000;}
.tag-purple{color: #4e0475;}
.tag-red{color: #770303;}
.tag-mint{color: #066e4a;}
.tag-yellow{color: #5f5f01;}

.box-blue{background-color: #0c0cf536;}
.box-light-blue{background-color: #0cf5f53f;}
.box-green{background-color: #0cf50c44;}
.box-orange{background-color: #f5a30c42;}
.box-purple{background-color: #a30cf54d;}
.box-red{background-color: #f50c0c49;}
.box-mint{background-color: #0cf5a341;}
.box-yellow{background-color: #f5f50c3f;}

/* ========================================================= */
/* card-submit 3*/
.list{
  list-style-type: none;
  line-height: 2.5;
}

.list-number-blue{background-color: #5d5dff;}
.list-number-green{background-color: #63fd63;}
.list-number-orange{background-color: #f3b84b;}
.list-number-purple{background-color: #b143ec;}
.list-number-red{background-color: #fd3f3f;}
.list-number-mint{background-color: #3ef5b5;}

/* card-bottom */

.card-submit-bottom {
  display: flex;
  border: 3px solid #ffde96;
  background-color: #fff5be;
  margin-left: 20px;
  margin-bottom: 20px;
  border-radius: 20px;
  padding: 20px;
  box-shadow: 0 0px 10px rgba(129, 73, 0, 0.726);
  
}
.icon-bottom {
  font-size: 40px;
  color: #640292;
  display: flex;
  justify-content: center;
  align-items: center;
}
.text-bottom {padding-left: 10px;}

.text-bottom h2{
  color: #640292;
  font-size: 20px;
}




/* =================================
||||      header-sectiom      |||||
====================================*/
.tip-box {
  display: flex;
  align-items: center;
  gap: 10px;
  border: 3px solid #ffde96;
  background-color: #fff5be;
  margin: 0px 20px 20px 20px;
  border-radius: 20px;
  padding: 20px;
  box-shadow: 0 0px 10px rgba(129, 73, 0, 0.726);
}
.tip-box-icon {
  font-size: 50px;
  font-weight: bold;
  color: #ffffff;
  background-color: #ec8c0e;  
  max-width: 30px;
  max-height: 30px;
  border-radius: 50%;
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;

}

.tip-box-body h2{
  color: #640292;
  font-size: 20px;
}
.tip-box-body p{
  color: #220330;
  font-size: 16px;
}
.tip-box-body span{
  color: #ff0000;
}
.tip-box-right{
  font-size: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}