* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Anuphan, Arial, Helvetica, sans-serif;
  background-color: rgba(253, 180, 77, 0.336);

  color: rgb(48, 7, 90);
  line-height: 1.6;
}

.container {
  /* border: 1px solid rgb(61, 81, 255);
  padding: 15px;
  margin: 15px; */
}

/* =================================
||||      header-sectiom        |||||
====================================*/
.site-header {
  /* border: 1px solid red;
  padding: 15px;
  margin: 15px; */

  display: flex;
  justify-content: space-between;

  background: linear-gradient(110deg, rgba(255, 128, 0, 0.637));

  padding: 8px 20px;
}
.brand {
  /* border: 1px solid rgb(0, 255, 64);
  padding: 15px;
  margin: 15px; */
  display: flex;
  align-items: center;
  gap: 20px;

  color: rgb(0, 2, 2);
}
.brand-logo {
  background: #ff1313;
  font-size: 30px;

  border-radius: 50%;

  width: 50px;
  height: 50px;

  display: flex;
  justify-content: center;
  align-items: center;
}
.brand-text p {
  font-size: 14px;
  opacity: 0.7;
}
.brand-text h2 {
  font-size: 23px;
}

.main-nav {
  /* border: 1px solid rgb(0, 255, 55);
  padding: 15px;
  margin: 15px; */
  display: flex;
}

.nav-list {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.nav-list a {
  color: aliceblue;
  text-decoration: none;

  padding: 8px 15px;
  border-radius: 15px;

  transition: 0.4s;
}
.nav-list a:hover {
  background-color: rgba(126, 0, 48, 0.712);
}

/* =================================
||||      header-sectiom      |||||
====================================*/
.main-layout {
  /* border: 1px solid red;
  padding: 15px;
  margin: 15px; */
  padding: 20px 22px;

  display: grid;
  grid-template-columns: 66.7% 33.3%;
  /* grid-template-columns:1fr 400px; */
}
/* left content */
.left-content {
  /* border: 1px solid rgb(0, 255, 85);
  padding: 15px;
  margin: 15px; */
}
.hero {
  /* border: 1px solid rgb(40, 43, 10);
  padding: 15px;
  margin: 15px; */
  display: grid;
  grid-template-columns: 1.5fr 0.8fr;

  border-radius: 20px;
  padding: 50px 40px;
  background: linear-gradient(90deg, rgb(235, 223, 205), #fc9e47);
  box-shadow: 0 0px 10px rgba(129, 73, 0, 0.726);

  align-items: center;
}
.hero-text h1 {
  font-size: 36px;
  color: #640292;
  line-height: 1.6;
}
.hero-text p {
  font-size: 16px;
  color: #64029286;
}

.hero-photo img {
  width: 400px;
  height: 200px;
  border: 5px ridge rgb(175, 0, 0);
  border-radius: 20px;

  box-shadow: 0 0px 10px rgba(129, 73, 0, 0.726);

  object-fit: cover;
  /*
  object-fit: contain ➡️เห็นภาพครบ รักษาสัดส่วน (อาจมีขอบว่าง)
  object-fit: fill ➡️ยืดภาพให้เต็มกล่อง ภาพอาจบิด (สัดส่วนเพี้ยน)
  object-fit: cover ➡️ครอปภาพให้เต็มกล่อง รักษาสัดส่วน บางส่วนของภาพจะถูกตัดออก
  */
}
/* =================linkexample=================== */
.card {
  border: 1px solid #ff7b00;
  margin-top: 30px;
  border-radius: 20px;
  padding: 20px;
  box-shadow: 0 0px 10px rgba(129, 73, 0, 0.726);
}

.card-header-title{
  color: #640292;
}



.card-body-grid{
  display: grid;
  grid-template-columns: 0.75fr 1.25fr;
  gap: 22px;
}


/* link left */
.result-panel,.code-panel{
  /* background-color: #ffbe7efb; */
  border: 1px solid #fc9e47;
  border-radius: 10px;
  overflow: hidden;
}

.result-panel-header, .code-panel-header{
  background-color:#fc9e47;
  color: #640292;
  padding: 0px 20px;
  font-weight: bold;
}

.result-panel-body{
  padding: 10px 20px 15px 20px;
  

}
.result-panel-body a{
  color: #332b1c;
  display: block;
  line-height: 2;

}
.result-panel-body a:hover{
  color: #640292;
}

.mail-box{
  background-color: #8a0cc5;
  color: #fff;
  padding: 2px 2px;
  border-radius: 4px;
  margin-right: 10px ;
  text-decoration: none ;
}


.back-button{
  border: 2px solid #332b1c;
  border-radius: 10px;
  display: inline-block !important;
  padding: 0px 20px;
  text-decoration: none;
}
/* link right */
.code-panel{
  background-color: black;
  
}
.code-list{
  color: #fff;
  padding: 20px 50px;
}
.code-list li{
  padding: 0 20px;
}
.code-panel-body{
  color: #fff;
}
.tag{
  color: #ff4800;
}

.attr{
  color: #fffb00;
}

.value{
  color: #24660a;
}
/* =================linkexample=================== */
.result-panel-body-3grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
  padding: 0px 20px;
  align-items: baseline;
  text-align: center;
  font-weight: bold;
}



/* right content */
.right-content {
  border: 1px solid rgb(0, 255, 0);
  padding: 15px;
  margin: 15px;
}

.submit-card {
}

/* =================================
||||      header-sectiom      |||||
====================================*/
.tip-box {
  border: 1px solid red;
  padding: 15px;
  margin: 15px;
}
